<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lecturer | dashboard</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="icon" type="image/x-icon" href="../static/images/chatbot.ico">
    <link rel="stylesheet" href="../static/css/main.css" >
    <link rel="stylesheet" href="../static/css/style.css" >
    <link rel="stylesheet" href="../static/css/icon.min.css" >
    <script src="../static/js/jquery.min.js" ></script>
    <script src="../static/js/bootsrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-expand navbar-dark bg-dark">
      <div class="container-fluid px-lg-5">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active h4 mobile">Faculty Of Computing & Technology</a>
                <a href="/" class="nav-item nav-link active h4 desktop">FCT</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="/logout" class="nav-item  nav-link h5"><i class="fa fa-sign-out"></i></a>
            </div>
          </div>
      </div>
    </nav>
    <div class="containers" style="min-height: 90vh;">
      <h3 class="text-dark d-flex align-items-center text-center">Welcome, {{ session['firstname'] }} {{ session['lastname'] }}</h3>
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="card-box bg-blue">
              <div class="inner">
                  <h3 class="text-lights">BSCS 12033</h3>
                  <h4 class="text-lights">Java</h4>
              </div>
              <div class="icon">
                  <i class="fa fa-book" aria-hidden="true"></i>
              </div>
              <a class="card-box-footer"></a>
          </div>
        </div>
      
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-green">
              <div class="inner">
                  <h3 class="text-lights">BSCS 12033</h3>
                  <h4 class="text-lights">Mathematics</h4>
              </div>
              <div class="icon">
                  <i class="fa fa-book" aria-hidden="true"></i>
              </div>
                <a class="card-box-footer"></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-orange-1">
              <div class="inner">
                  <h3 class="text-lights">BSCS 12033</h3>
                  <h4 class="text-lights">Cybersecurity</h4>
              </div>
              <div class="icon">
                  <i class="fa fa-book" aria-hidden="true"></i>
              </div>
              <a class="card-box-footer"></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="card-box bg-magenta">
            <div class="inner">
                <h3 class="text-lights">BSCS 12033</h3>
                <h4 class="text-lights">Data Structure</h4>
            </div>
            <div class="icon">
                <i class="fa fa-book" aria-hidden="true"></i>
            </div>
            <a class="card-box-footer"></a>
          </div>
        </div>
      
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-red-1">
              <div class="inner">
                <h3 class="text-lights">BSCS 12033</h3>
                <h4 class="text-lights">Database</h4>
              </div>
              <div class="icon">
                <i class="fa fa-book" aria-hidden="true"></i>
              </div>
              <a class="card-box-footer"></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-tree-green">
              <div class="inner">
                <h3 class="text-lights">BSCS 12033</h3>
                <h4 class="text-lights">Python</h4>
              </div>
              <div class="icon">
                <i class="fa fa-book" aria-hidden="true"></i>
              </div>
              <a class="card-box-footer"></a>
            </div>
        </div>
      </div>
    </div>
    <footer class="footer p-3 bg-secondary">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center" style="color: #002B5B; font-weight: bold;">
                <script>document.write(new Date().getFullYear())</script> © Lorenza - Developed By Sarujan.
            </div>
        </div>
      </div>
    </footer>
    <div class="container">
      <div class="row">
       <div id="Smallchat">
        <div class="Layout Layout-open Layout-expand Layout-right" style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px;">
          <div class="Messenger_messenger">
            <div class="Messenger_header" style="background-color: rgb(22, 46, 98); color: rgb(255, 255, 255);">
              <img src="../static/images/chatbot.png" width="25px" height="25px" style="border-radius:50%;margin-right:15px;"><h3 class="Messenger_prompt text-white">Bot</h3> <span class="chat_close_icon"><i class="fa fa-window-close" aria-hidden="true"></i></span> 
            </div>   
            <div class="Messenger_content">
              <div class="Messages" id="Messages">
                <div class="Messages_list" id="Messages_list">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button">Home</button>
                      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button">Profile</button>
                      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button">Contact</button>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">tab1</div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">tab2</div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                  </div>
                </div>
              </div>
              <div class="Input Input-blank">
                <textarea class="Input_field" maxlength="50" id="question" name="question" placeholder="Send a message..." style="height: 20px;"></textarea>
                <button type="submit" name="submit-button" id="submit-button" class="Input_button Input_button-send">
                  <div class="Icon" style="width: 18px; height: 18px;">
                    <svg width="57px" height="54px" viewBox="1496 193 57 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 18px; height: 18px;">
                      <g id="Group-9-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)">
                        <path d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C50.8414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z" id="sendicon" fill="#96AAB4" fill-rule="nonzero"></path>
                      </g>
                    </svg>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="chat_on"> <span class="chat_on_icon"><i class="fa fa-comment" aria-hidden="true"></i></span> </div>
      </div>
    </div>
    <script>
      $(function () {
        $('[data-toggle="tab"]').tab()
      });
      var chatDiv = document.getElementById("Messages");
      $(document).ready(function(){
        /*setTimeout(function () {
            $(".Layout").toggle();
            $(".chat_on").hide(300);
        }, 3000);*/

        $(".chat_on").click(function(){
            $(".Layout").toggle();
            $(".chat_on").hide(300);
        });
        
        $(".chat_close_icon").click(function(){
            $(".Layout").hide();
            $(".chat_on").show(300);
        });

        $("#submit-button").click(function(e) {
          e.preventDefault();
          $.ajax({
              type: "POST",
              url: "/chatbot",
              data: {
                  question: $("#question").val()
              },
              success: function(result) {
                var botHtml = '';
                var meHtml = '';

                botHtml += "<div style='width:100%'><p class='text-white bot float-left'>"+result.response + "</p><div>";
                meHtml += "<div class='w-100'><p class='text-white me float-right' style='max-width:150px;'>"+$("#question").val() + "</p><div>";

                //$("#bot").append(botHtml);
                //$("#me").append(meHtml);
                $("#Messages_list").append(meHtml, botHtml);
                chatDiv.scrollTop = chatDiv.scrollHeight;
                $("#question").val("")
              },
              error: function(result) {
                  alert('error');
              }
          });
        });
        
      });
    </script>
    <script src="../static/js/bootsrap.bundle.min.js"></script>
  </body>
</html>
