<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../static/images/chatbot.ico">
    <script src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootsrap.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>login | fct</title>
  </head>
  <body style="background-image: url('../static/images/bg.jpg');background-size:cover;opacity:0.9">
    <section class="ftco-section">
      <div class="containers">
        <div class="row justify-content-center">
          <div class="col-md-7 col-lg-5">
            <div class="login-wrap px-3 py-3 p-md-4">
              <div style="background-color: #8f431a" class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-user-o"></span>
              </div>
              <h3 class="text-center mb-4 font-weight-bold">FCT</h3>
              <form action="/user" method="post" class="login-form">
                <div class="form-group">
                  <input type="text" name="username" class="form-control rounded-left" placeholder="Username" required />
                </div>
                <div class="form-group d-flex">
                  <input type="password" name="password" class="form-control rounded-left" placeholder="Password" required />
                </div>
                <div class="form-group text-center">
                  <button type="submit" style="background-color: #c75c22" class="form-control text-white w-50 btn rounded submit px-3" >
                    Login
                  </button>
                </div>
                <div class="form-group d-md-flex">
                  <div class="w-100 text-center">
                    <a style="color: #8f431a" href="/">Forgot Password</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
